{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "react-refresh"
  ],
  "settings": {
    "react": {
      "version": "18.2"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn",
    "no-case-declarations": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": "warn",
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "react/prop-types": "off"
  }
}
