/* ---------- Root Variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --dark-green: rgb(9, 47, 59);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-danger: #f44250;
    --text-color-dark: #333;
    --text-color-light: #f1f1f1;
    --white: #f1f1f1;
}

body, html {
    color: var(--text-color-dark);
    font-family: GitLab Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

/* === root === */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.page-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.home {
    padding: 20px;
}

/* === Header === */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.branding {
    color: #fff;
    font-size: 1.5em;
    text-decoration-line: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.notification-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 15px;
}

.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* === Sidebar === */

.sidebar {
    width: 12%;
    height: 100vh;
    background-color: var(--light-green);
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    /*margin-bottom: 10px;*/
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    text-decoration: none;
    color: #333;
    background-color: var(--light-grey);
}

.sidebar a.active {
    font-weight: bold;
}

.menu-group-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 6px;
    display: block;
}
